{% extends 'base.html' %}

{% block content %}
<h1>Tambah Produk Baru</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% if form.errors %}
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
    <button type="submit">Simpan</button>
</form>
<a href="{% url 'main:show_main' %}"><button>Batal</button></a>
{% endblock content %}