{% extends 'base.html' %}
{% block content %}
<h1>Daftar Produk</h1>

<h5>NPM: </h5>
<p>{{ NPM }}</p>

<h5>Name:</h5>
<p>{{ Name }}</p>

<h5>Class:</h5>
<p>{{ Class }}</p>

<h5>Username:</h5>
<p>{{ username }}</p>

<h5>Sesi terakhir login:</h5>
<p>{{ last_login }}</p>

<!-- Tombol Add Produk -->
<a href="{% url 'main:create_product' %}">
  <button>+ Add Product</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<hr>

{% if not product_list %}
<p>Belum ada data produk pada football shop.</p>
{% else %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Harga</th>
    <th>Aksi</th>
  </tr>
  {% for product in product_list %}
  <tr>
    <td>{{ product.name }}</td>
    <td>Rp{{ product.price }}</td>
    <td>
      <a href="{% url 'main:show_product' product.id %}">
        <button>Detail</button>
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock content %}
